<h2>Edit Your Album!</h2>
<br />
<form action="<%= album_url(@album.id) %>" method="post">
    <input type="hidden" name="_method" value="patch"/>
    <%= auth_token %>
    <label for="band"><b>Album Creator:</b></label>
    <select name="album[band_id]" id="band">
        <% @bands.each do |band| %>
            <option value="<%= band.id %>" <% @album.band_id == band.id ? "selected" : "" %>><%= band.name %></option>
        <% end %>
    </select>
    <br />
    <br />

    <label for="title"><b>Your Album Title:</b></label>
    <input type="text" id="title" name="album[title]" value="<%= @album.title %>"/>
    <br />
    <br />

    <label for="year"><b>Album Year:</b></label>
    <input type="text" id="year" name="album[year]" value="<%= @album.year %>"/>
    <br />
    <br />

    <b>Album Type:</b>
    <label for="album_type">Live</label>
    <input type="radio" name="album[album_type]" id="album_type" value="Live" <%= @album.album_type == "Live" ? 'checked' : '' %>/>

    <label for="album_type2">Studio</label>
    <input type="radio" name="album[album_type]" id="album_type2" value="Studio" <%= @album.album_type == "Studio" ? 'checked' : '' %>/>
    <br />
    <br />
    <input type="submit" value="Update Your Album"/>

</form>